.aboutHeading {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    color: black;
    text-transform: uppercase;
    margin-top: 1%;
  }
  .AboutUsText {
    font-family: Calibri;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    color: blackS;
  }
  .aboutUsInnerDiv {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
  }
  .aboutBreadcrumb {
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
  .hr {
    width: 90%;
    margin-left: 5%;
  }